/* Sidebar'ın kapalı olduğu durumu için stil */
.closed {
  width: 60px; /* Kapalı genişlik */
  margin-left: 60px;
  background-color: black;

}

/* Sidebar'ın açık olduğu durumu için stil */
.open {
  width: 250px; /* Açık genişlik */
  margin-left: 5px;
  background-color: black;
}

/* Hamburger simgesi stil */
.hamburger-icon {
  background: transparent;
  border: none;
  padding: 0.5rem;
  line-height: 1rem;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  margin: 10px;
}

/* Sidebar menü öğeleri stil */
.nav-link {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #333; /* Öğe üzerine gelindiğinde arkaplan rengi */
}

/* Öğelerin ikonları için stil */
.nav-link i {
  margin-right: 10px;
}
